@import 'variables';

nav.navbar-rpu {
    background-color: $primary;
    color: #ffffff;
    border-bottom: 0;

    a.nav-link {
        color: #eee !important;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #ffffffe0;
        height: 100%;
        border-radius: 5px;
    }

    li.nav-item.active > a.nav-link {
        background-color: scale-color($primary, $lightness: -5%);
    }

    a.nav-link[type=button]:hover {
        color: $primary !important;
        text-decoration-color: transparentize($primary, 0.1);
    }

    a.nav-link:not([type=button]):hover {
        background-color: scale-color($primary, $lightness: -7%);
    }

    span.navbar-toggler-icon {
        color: white;
    }

    .navbar-brand {
        color: white;
    }
}
