// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.home-content {
    padding: 0;
}

.navbar-rpu {
    background-color: #3f51b5;
    color: #ffffff;
    border-bottom: 0;

    .nav-link {
        color: #eee !important;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #ffffffe0;
    }

    .navbar-toggler-icon {
        color: #ffffff;
    }

    .navbar-brand {
        color: #ffffff;
    }
}
