// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.home-content {
    padding: 0;
}

.navbar-rpu {
    background-color: #3f51b5;
    color: #ffffff;
    border-bottom: 0;
    box-shadow: none !important;
}

.navbar-rpu .nav-link {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-rpu .navbar-toggler-icon {
    color: #ffffff;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.navbar-rpu .navbar-brand {
    color: #ffffff;
}

.nav-link-auth {
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-left: 4px;
}
