// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.home-content {
    padding: 0;
}

nav.navbar-rpu {
    background-color: #3f51b5;
    color: #ffffff;
    border-bottom: 0;

    a.nav-link {
        color: #eee !important;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #ffffffe0;
        height: 100%;
        border-radius: 5px;
    }

    li.nav-item.active > a.nav-link {
        background-color: scale-color(#3f51b5, $lightness: -5%);
    }

    a.nav-link[type=button]:hover {
        color: #3f51b5 !important;
        text-decoration-color: #3f51b5e0;
    }

    a.nav-link:not([type=button]):hover {
        background-color: scale-color(#3f51b5, $lightness: -7%);
    }

    span.navbar-toggler-icon {
        color: #ffffff;
    }

    .navbar-brand {
        color: #ffffff;
    }
}
