// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.home-content {
    padding: 0;
}

nav.navbar-rpu {
    background-color: #3f51b5;
    color: #ffffff;
    border-bottom: 0;

    a.nav-link {
        color: #eee !important;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #ffffffe0;
    }

    a.nav-link[type=button]:hover {
        color: #3f51b5 !important;
        text-decoration-color: #3f51b5e0;
    }

    // todo
    a.nav-link:not([type=button]):hover::before {
        content: '> ';
    }

    span.navbar-toggler-icon {
        color: #ffffff;
    }

    .navbar-brand {
        color: #ffffff;
    }
}
